@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 15, 27);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.animation1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    width: 200px;
    height: 260px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.circle{
    width: 100px;
    height: 100px;
    border: 7px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}
.animation1 p{
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
    50%{
        opacity: 0.5;
    }
    0%{
        border-top-color: #fff;
    }

}