@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
	background: #e0e5ec;	
}

h1 {
	position: relative;
	text-align: center;
  	color: #353535;
  	font-size: 50px;
  	font-family: "Poppins", sans-serif;
}

p {
	font-family: 'Inconsolata', monospace;
  	font-weight: 300;
  	text-align: center;
  	font-size: 18px;
  	color: #676767;
}

.frame {
	width: 90%;
  	margin: 40px auto;
  	text-align: center;
}

button {
 	margin: 20px;
}

.custom-btn {
  	width: 130px;
  	height: 40px;
  	color: #fff;
  	border-radius: 5px;
  	padding: 10px 25px;
  	font-family: 'Poppins', sans-serif;
  	font-weight: 500;
  	background: transparent;
  	cursor: pointer;
  	transition: all 0.3s ease;
 	position: relative;
  	display: inline-block;
   	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   	7px 7px 20px 0px rgba(0,0,0,.1),
   	4px 4px 5px 0px rgba(0,0,0,.1);
  	outline: none;
}

/* Button ke-1 */
.btn-1 {
  	background: rgb(6,14,131);
  	background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  	border: none;
}
.btn-1:hover {
   	background: rgb(0,3,255);
	background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
/* End */